---
- name: setup tweakstreet base image
  hosts: svr-containers

  vars:
    - remote_base_folder: /opt/tweakstreet-base
    - remote:
        buildah_folder: "{{ remote_base_folder }}/buildah"
        buildah_folder_flows: "{{ remote_base_folder }}/buildah/flows"

  roles:
    - check
    - buildah-tweakstreet-base
