#!/bin/bash

image_registry_group="{{ tweakstreet.image_registry_group }}"
image_registry_user="{{ tweakstreet.image_registry_user }}"

# base image
base_image_name="{{ tweakstreet.base_image_name }}"
base_image_version="{{ tweakstreet.base_image_version }}"
base_image_tag="${image_registry_group}/${base_image_name}:${base_image_version}"

# new image
image_name="{{ tweakstreet.image_name }}"
image_version="{{ tweakstreet.image_version }}"
image_author="{{ tweakstreet.image_author }}"

image_user="{{ tweakstreet.image_user }}"
image_user_id="{{ tweakstreet.image_user_id }}"
image_group="{{ tweakstreet.image_group }}"
image_group_id="{{ tweakstreet.image_group_id }}"

# name of working container
working_container="${image_name}-working-container"

# local folder containing flows, modules, etc.
flows_folder="{{ buildah_folder_flows }}"

# container folder for flows, modules, etc.
tweakstreet_flows="{{ tweakstreet.image_folder_flows }}"

# local folder containing JDBC drivers
drivers_folder="{{ buildah_folder_drivers }}"

# container folder for JDBC drivers
tweakstreet_drivers="{{ tweakstreet.image_folder_drivers }}"

# start of build
container=$(buildah --name "${working_container}" from ${base_image_tag})

buildah config --user="${image_user}:${image_group}" $container

# copy required files
buildah copy $container "${flows_folder}/" "${tweakstreet_flows}"
buildah copy $container "${drivers_folder}/" "${tweakstreet_drivers}"

# configuration
buildah config --author "${image_author}" $container
buildah config --workingdir "${application_folder_root}" $container

buildah commit $container "${image_name}:${image_version}"
buildah rm $container

